:root{
    --grape: #a599b5;
    --orange: #fc814a;
    --blizzard: #98dfea;
    --gunmetal: #2b303a;
    --seaweed: #087f8c;
    --gold: #e2c290;
    --violet: #b91372;
    --rose: #e71d36;
    --shamrock: #329f5b;
    --salmon: #f7a072;

    --font-one: 'Lato', sans-serif;
    --font-two: 'Yellowtail', cursive;
}